{% extends 'core/base.html' %}

{% block title %}Privacy Policy | {% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container5">
            <section>
                <h2 style="color: #FF6600;" >Privacy Policy for Celebrity Leaks</h2>
                <h2 style="color: #FF6600;" >1. Introduction</h2>
                <p>Celebrity Leaks is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and disclose your personal information when you interact with our website.</p>

                <h2 style="color: #FF6600;" >2. Age Restrictions</h2>
                <p>You must be at least 18 years old to use this website. By accessing or using our website, you confirm that you are at least 18 years old.</p>
                 
                <h2 style="color: #FF6600;" >3. Information We Collect</h2>
                <p>We collect the following personal information:
                    <br>
                    Email Address: We collect your email address when you submit a comment on our website.
                    <br>
                    When you use our "Get in Touch" form, we collect the following information:
                    <br>
                    <strong>Name: </strong>Your name helps us address you personally in any future correspondence. <br>
                    <strong>Email Address: </strong>We use your email address to send you a confirmation message and any requested information or updates. <br>
                    <strong>Phone Number: </strong>This is optional but allows us to contact you via phone if necessary. <br>
                    <strong>Message: </strong>The message you send us helps us understand your specific needs or inquiries. <br>
                </p>
                <h2 style="color: #FF6600;" >4. How We Use Your Information</h2>
                    <p>We use your email address for the following purposes:
                        <br>
                        To respond to your comment.
                        <br>
                        To prevent spam and abuse. <br>   
                        We use the information you provide through the "Get in Touch" form for the following purposes: <br>
                        <strong>Responding our Inquiry: </strong>We use your information to address your questions, concerns, or requests in a timely manner. <br>
                        <strong>Providing Requested Information: </strong>If you've requested specific information or resources, we'll use your email to send them to you. <br>
                        <strong>Improving Our Services: </strong>We may analyze your message and other information to identify trends and improve our communication and services.                   
                    </p>
                <h2 style="color: #FF6600;">5. Sharing Your Information</h2>    
                    <p>
                        We do not share your email address with any third parties. We may disclose your information if required by law or to protect our rights.
                    </p>
                <h2 style="color: #FF6600;">6. Security</h2>    
                    <p>
                        We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no website can guarantee complete security.
                    </p>
                <h2 style="color: #FF6600;">7. Your Choices</h2>  
                    <p>
                         Opt-Out: You can choose not to provide your email address by not submitting a comment.
                        <br>
                         Access and Correction: You can request 
                        <br>
                          access to your personal information and request corrections.

                    </p> 
                <h2 style="color: #FF6600;">8. Changes to this Privacy Policy</h2>  
                    <p>
                        We reserve the right to modify this Privacy Policy at any time. We will notify you of any material changes.
                    </p>   
                <h2 style="color: #FF6600;">9. Contact Us</h2>  
                    <p>
                        If you have any questions about this Privacy Policy, please contact us at Celebrityleaks@gmail <!-- todo -->
                    </p>           
            </section>
        </div>
    </div>
</section>

{% endblock %}
