{% extends 'core/base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container5">
            <section>
                <h2 style="color: #FF6600;" >Terms and Conditions of Celebrity Leaks</h2>
                <h2 style="color: #FF6600;" >1. Acceptance of Terms</h2>
                <p>By accessing and using Celebrity Leaks, you agree to be bound by these Terms and Conditions. If you disagree with any part of these terms, please do not use our website.</p>

                <h2 style="color: #FF6600;" >2. Content Disclaimer</h2>
                <p>Content Origin: We do not claim ownership of the content on this website. 
                     <br>
                    The content may be user-generated or sourced from various online platforms. <br>
                    Content Accuracy: We make no guarantees about the accuracy, completeness, or legality of the content. <br>
                    Copyright: We respect copyright laws and do not encourage the distribution of copyrighted material without proper authorization. <br>
                    </p>
                 
                <h2 style="color: #FF6600;" >3. User Conduct</h2>
                <p> Illegal Activity: You agree not to use our website for any illegal or unauthorized purpose. <br>
                    Respect for Others: You agree to respect the privacy and rights of others. <br>
                    Harmful Content: You agree not to upload, post, or transmit any content that is harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or 
                   
                   otherwise objectionable.
                   
                </p>
                <h2 style="color: #FF6600;" >4. Limitation of Liability</h2>
                    <p>In no event shall Celebrity Leaks be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from your access to or use of or inability to access or use this website.                     
                    </p>
                <h2 style="color: #FF6600;">5. Indemnification</h2>    
                    <p>
                        You agree to indemnify and hold harmless Celebrity Leaks and its affiliates, officers, agents, and employees from and against any claims, damages, costs, and expenses, including attorneys' fees, arising out of your use of the website, your violation of these Terms and Conditions, or your violation of any rights of another.
                    </p>
                <h2 style="color: #FF6600;">6. Modification of Terms</h2>    
                    <p>
                        We reserve the right to modify these Terms and Conditions at any time without prior notice. Your continued use of the website following the posting of any changes constitutes acceptance of those changes.
                    </p>
                <h2 style="color: #FF6600;">7. Governing Law</h2>  
                    <p>
                        These Terms and Conditions shall be governed by and construed in accordance with the laws of United States of America. <br>
                        18 U.S.C 2257

                    </p> 
            </section>
        </div>
    </div>
</section>

{% endblock %}
